*.gmo
Makefile
*.m4
*.in
autom4te.cache
ubiquity-install/
*~
build/config.guess
build/compile
build/config.sub
build/depcomp
build/install-sh
build/ltmain.sh
build/missing
config.h
config.log
config.status
configure
data/com.ubuntu.ubiquity.policy
data/oem-config-prepare-gtk.desktop
data/oem-config-prepare-kde.desktop
data/ubiquity-kdeui.desktop
data/ubiquity.desktop
libtool
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
src/mockresolver/.deps
src/mockresolver/UbiquityMockResolver-1.0.gir
src/mockresolver/.libs/
src/mockresolver/UbiquityMockResolver-1.0.typelib
src/mockresolver/libubimockresolver.la
src/mockresolver/mockresolver.lo
src/mockresolver/mockresolver.o
src/panel/.deps
.deps
src/panel/panel
src/panel/panel.o
src/wallpaper/wallpaper
src/wallpaper/wallpaper.o
stamp-h1
